MONGODB_URI= #Your MongoDB connection string
NEXTAUTH_SECRET= #24 bit random string
NEXTAUTH_URL= #Your site URL, e.g., http://localhost:3000
NEXT_PUBLIC_SITE_URL= #Your site URL, e.g., http://localhost:3000

# URL của website
NEXT_PUBLIC_URL= #Your site URL, e.g., http://localhost:3000

# Email dùng để gửi mail thật
EMAIL_USER= #Your Gmail address

# App Password của Gmail (không phải mật khẩu đăng nhập Gmail)
EMAIL_PASS= #Your Gmail App Password

# Biến môi trường cho Google OAuth
GOOGLE_CLIENT_ID=#YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=#YOUR_GOOGLE_CLIENT_SECRET_HERE

# MoMo
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com

# VNPay
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=

# Payment mode: demo | real
NEXT_PUBLIC_PAYMENT_MODE=demo