MONGODB_URI= #Your MongoDB connection string
NEXTAUTH_SECRET= #24 bit random string
NEXTAUTH_URL= #Your site URL, e.g., http://localhost:3000
NEXT_PUBLIC_SITE_URL= #Your site URL, e.g., http://localhost:3000

# URL của website
NEXT_PUBLIC_URL= #Your site URL, e.g., http://localhost:3000

# Email dùng để gửi mail thật
EMAIL_USER= #Your Gmail address

# App Password của Gmail (không phải mật khẩu đăng nhập Gmail)
EMAIL_PASS= #Your Gmail App Password