MONGODB_URI=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_SITE_URL=

# URL của website
NEXT_PUBLIC_URL=

# Email dùng để gửi mail thật
EMAIL_USER=

# App Password của Gmail (không phải mật khẩu đăng nhập Gmail)
EMAIL_PASS=